/* -------------------Global CSS------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    font-family: system-ui;
	display: grid;
	grid-template-columns: 1fr 4fr;
	background-image: linear-gradient(to bottom, #acb6e5, #86fde8);
	height: 100vh;
}

/* -------------------ScrollBar CSS------------------- */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
input[type="checkbox"] {
    accent-color: #face8d;
}
a{
    text-decoration: none;
    color: #fff;
}
a:visited {
    color: #fff;
}
a:active {
    color: #fff;
}
